body{
    display: grid;
    place-items: center;
    gap: 10rem;
    cube {
        display: grid;
        aspect-ratio: 1;
        width: 10rem;
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transform-style */
        transform-style: preserve-3d;
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/rotate3d */
        animation: rotate-cube 2s linear infinite;
    }
}


side {
    display: block;
    aspect-ratio: 1;
    grid-row: 1;
    grid-column: 1;
    background-color: hotpink;
    filter: contrast(calc(sibling-index() * 20%));
    &:nth-child(1){
        transform: rotateX(-90deg) translateZ(5rem);
    }
    &:nth-child(2){
        transform: rotateX(90deg) translateZ(5rem);
    }
    &:nth-child(3){
        transform: rotateY(-90deg) translateZ(5rem);
    }
    &:nth-child(4){
        transform: rotateY(90deg) translateZ(5rem);
    }
    &:nth-child(5){
        transform: rotateZ(90deg) translateZ(5rem);
    }
    &:nth-child(6){
        transform: rotateZ(-90deg) translateZ(-5rem);
    }
}







@keyframes rotate-cube{
    from{
        transform: rotate3d(0, 0, 0, 0);
    }
    to{
        transform: rotate3d(1, 3, 2, 360deg);
    }
}