/* website met wat NIET kan als je 3d gebruikt: https://css-tricks.com/things-watch-working-css-3d/ */

/* ///////////// */
/* MARK: Basics
/* ///////////// */
@font-face {
    font-family: pixelfont;
    src: url(/assets/fonts/pixelfont.ttf); /*https://www.dafont.com/pix32.font*/
}

:root{
    --size: clamp(2rem, 8vw, 4rem);
    --gap: .5rem;
    --color-1: red;
    --color-2: orange;
    --color-3: green;
    --color-4: blue;
    --color-5: white;
    --color-6: yellow;
    --border: solid black;
    --background: rgb(244, 134, 200);
}


body{
    position: relative;
    background-color: var(--background);
    header{
        position: absolute;
        display: flex;
        flex-direction: column;
        label, input{
            z-index: 10;
            cursor: pointer;
        }
    }
    main{
        perspective: 20em;
        height: 100vh;
        display: grid;
        justify-content: center;
        h1{
            font-family: pixelfont, sans-serif;
            margin-top: 2em;
            justify-self: center;
        }
    }
}





rubiks{
    display: grid;
    place-items: center;
    height: calc(var(--size)*3 + var(--gap)*2);
    aspect-ratio: 1;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transform-style */
    transform-style: preserve-3d;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/rotate3d */
    /* transform: rotate3d(1, 1, 1, 45deg); */
    animation: rotate-cube 10s linear infinite;
    cube {
        display: grid;
        grid-area: 1/1;
        aspect-ratio: 1;
        width: var(--size);
        transform-style: preserve-3d;
    }
}

@keyframes rotate-cube{
    from{
        transform: rotate3d(0, 0, 0, 0);
    }
    to{
        transform: rotate3d(1, 3, 2, 360deg);
    }
}



/* //////// */
/* MARK: Side positioning
/* //////// */
side {
    display: block;
    aspect-ratio: 1;
    grid-area: 1/1;
    border: var(--border);
    &:nth-child(1){
        background-color: var(--color-1);
        transform: 
            rotateX(-90deg) 
            translateZ(calc(var(--size)/2));
    }
    &:nth-child(2){
        background-color: var(--color-2);
        transform: 
            rotateX(90deg) 
            translateZ(calc(var(--size)/2));
    }
    &:nth-child(3){
        background-color: var(--color-3);
        transform: 
            rotateY(-90deg) 
            translateZ(calc(var(--size)/2));
    }
    &:nth-child(4){
        background-color: var(--color-4);
        transform: 
            rotateY(90deg) 
            translateZ(calc(var(--size)/2));
    }
    &:nth-child(5){
        background-color: var(--color-5);
        transform: translateZ(calc(var(--size)/2));
    }
    &:nth-child(6){
        background-color: var(--color-6);
        transform: translateZ(calc(var(--size)/2*-1));
    }
}



/* ///////////// */
/* MARK: Cube positioning
/* ///////////// */
cube{
    transform:
        rotateX(var(--rx, 0deg))
        rotateY(var(--ry, 0deg))
        rotateZ(var(--rz, 0deg))
        translateX(var(--tx, 0))
        translateY(var(--ty, 0))
        translateZ(var(--tz, 0));
    transition: all 1s;

    /* White face */
    &:nth-child(1){
        --tx: calc(var(--size)*-1);
        --ty: calc(var(--size)*-1);
        --tz: var(--size);
    }
    &:nth-child(2){
        --ty: calc(var(--size)*-1);
        --tz: var(--size);
    }
    &:nth-child(3){
        --tx: var(--size);
        --ty: calc(var(--size)*-1);
        --tz: var(--size);
    }
    &:nth-child(4){
        --tx: calc(var(--size)*-1);
        --tz: var(--size);
    }
    &:nth-child(5){
        --tz: var(--size);
    }
    &:nth-child(6){
        --tx: var(--size);
        --tz: var(--size);
    }
    &:nth-child(7){
        --tx: calc(var(--size)*-1);
        --ty: var(--size);
        --tz: var(--size);
    }
    &:nth-child(8){
        --ty: var(--size);
        --tz: var(--size);
    }
    &:nth-child(9){
        --tx: var(--size);
        --ty: var(--size);
        --tz: var(--size);
    }


    /* Middle face */
    &:nth-child(10){
        --tx: calc(var(--size)*-1);
        --ty: calc(var(--size)*-1);
    }
    &:nth-child(11){
        --ty: calc(var(--size)*-1);
    }
    &:nth-child(12){
        --tx: var(--size);
        --ty: calc(var(--size)*-1);
    }
    &:nth-child(13){
        --tx: calc(var(--size)*-1);
    }
    /* 14 is center piece */
    &:nth-child(15){
        --tx: var(--size);
    }
    &:nth-child(16){
        --tx: calc(var(--size)*-1);
        --ty: var(--size);
    }
    &:nth-child(17){
        --ty: var(--size);
    }
    &:nth-child(18){
        --tx: var(--size);
        --ty: var(--size);
    }


    /* Yellow face */
    &:nth-child(19){
        --tx: calc(var(--size)*-1);
        --ty: calc(var(--size)*-1);
        --tz: calc(var(--size)*-1);
    }
    &:nth-child(20){
        --ty: calc(var(--size)*-1);
        --tz: calc(var(--size)*-1);
    }
    &:nth-child(21){
        --tx: var(--size);
        --ty: calc(var(--size)*-1);
        --tz: calc(var(--size)*-1);
    }
    &:nth-child(22){
        --tx: calc(var(--size)*-1);
        --tz: calc(var(--size)*-1);
    }
    &:nth-child(23){
        --tz: calc(var(--size)*-1);
    }
    &:nth-child(24){
        --tx: var(--size);
        --tz: calc(var(--size)*-1);
    }
    &:nth-child(25){
        --tx: calc(var(--size)*-1);
        --ty: var(--size);
        --tz: calc(var(--size)*-1);
    }
    &:nth-child(26){
        --ty: var(--size);
        --tz: calc(var(--size)*-1);
    }
    &:nth-child(27){
        --tx: var(--size);
        --ty: var(--size);
        --tz: calc(var(--size)*-1);
    }
}



/* ///////////// */
/* MARK: Themes
/* ///////////// */
:root{
    --theme: normal;
}

:root:has([name="transparent-mode"]:checked){
    --theme: transparent;
}

:root:has([name="transformer-mode"]:checked){
    --theme: transformer;
}

:root:has([name="transformer-mode"]:checked) and :has([name="transparent-mode"]:checked){
    --theme: transparent-transformer;
}

@container style(--theme: transparent){
    rubiks{
        --color-1: rgba(255, 0, 0, 0.5);
        --color-2: rgba(255, 166, 0, 0.5);
        --color-3: rgba(0, 128, 0, 0.5);
        --color-4: rgba(0, 0, 255, 0.5);
        --color-5: rgba(255, 255, 255, 0.5);
        --color-6: rgba(255, 255, 0, 0.5);
        --border: transparent;
    }
}

@container style(--theme: transformer){
    cube{
        /* hoofd */
        &:nth-child(11){
            --ty: calc(var(--size)*-2);
        }
        /* rechterbeen */
        &:nth-child(1){
            --ty: calc(var(--size)*2);
            --tz: 0;
        }
        &:nth-child(4){
            --ty: calc(var(--size)*3);
            --tz: 0;
        }
        &:nth-child(7){
            --ty: calc(var(--size)*3);
        }

        /* linkerbeen */
        &:nth-child(3){
            --ty: calc(var(--size)*2);
            --tz: 0;
        }
        &:nth-child(6){
            --ty: calc(var(--size)*3);
            --tz: 0;
        }
        &:nth-child(9){
            --ty: calc(var(--size)*3);
        }

        /* rechterrarm */
        &:nth-child(19){
            --tx: calc(var(--size)*-2);
            --ty: calc(var(--size)*-1);
            --tz: 0;
        }
        &:nth-child(22){
            --tx: calc(var(--size)*-3);
            --ty: calc(var(--size)*-1);
            --tz: 0;
        }
        &:nth-child(25){
            --tx: calc(var(--size)*-3);
            --ty: calc(var(--size)*-2);
            --tz: 0;
        }

        /* linkerrarm */
        &:nth-child(21){
            --tx: calc(var(--size)*2);
            --ty: calc(var(--size)*-1);
            --tz: 0;
        }
        &:nth-child(24){
            --tx: calc(var(--size)*3);
            --ty: calc(var(--size)*-1);
            --tz: 0;
        }
        &:nth-child(27){
            --tx: calc(var(--size)*3);
            --ty: 0;
            --tz: 0;
        }
    }
}


/* /////////////// */
/* :MARK: Rotations
/* //////////// */
@property --rx {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --ry {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --rz {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

rubiks:hover cube{
    --start-y: 0deg;
    --end-y: 0deg;
    --start-x: 0deg;
    --end-x: 0deg;
    --start-z: 0deg;
    --end-z: 0deg;
}
    

rubiks:hover {
    cube{
        &:nth-child(-n+6) {
            animation: step1 .5s linear forwards;
        }
    }     
    cube:nth-child(n+7):nth-child(-n+9){
        animation: step1and2 1s linear forwards;
    }
    cube:nth-child(3n+10){
        animation: step2 .5s linear forwards;
        animation-delay: .5s;
    }
}

/* @keyframes steps {
    from{
        --rx: var(--start-x, 0deg);
        --ry: var(--start-y, 0deg);
        --rz: var(--start-z, 0deg);
    }
    to{
        --rx: var(--end-x, 0deg);
        --ry: var(--end-y, 0deg);
        --rz: var(--end-z, 0deg);
    }
} */

@keyframes step1 {
    from{
        --rz: 0deg;
    }
    to{
        --rz: 90deg;
    }
}

@keyframes step1and2 {
    0% {
     --rz: 0deg;   --rx: 0deg; 
    }
    50% { 
        --rz: 90deg;  --rx: 0deg; 
    }
    100% {
        --rz: 90deg;  --rx: 90deg; 
    }
}

@keyframes step2 {
    0% {
     --rz: 0deg;   --rx: 0deg; 
    }
    50% { 
        --rz: 0deg;  --rx: 0deg; 
    }
    100% {
        --rz: 0deg;  --rx: 90deg; 
    }
}

/* transformer mode in style query */
/* if is een style query voor maar 1 property. bijv voor light dark mode, maar dan iets anders dan kleur */
/* leuke typografie */
/* gezichtje kan wel geanimeerd met background image @property */